@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CiCd session ALHMDLH</h1>
    <h1 class="display-4">Welcome to CiCd session ALHMDLH, added to test azure auto CD releaase pipeline</h1>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
